services:
  oni-ui:
    image: ghcr.io/language-research-technology/oni-ui:new-api
    ports:
      - 3000:80
    volumes:
      - ./docker/oni-config.json:/configuration.json

  db:
    image: mysql:8
    restart: always
    ports:
      - 3306:3306
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: catalog

  opensearch:
    image: opensearchproject/opensearch:3
    container_name: opensearch
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
      - DISABLE_SECURITY_PLUGIN=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    ports:
      - 9200:9200
    expose:
      - 9200

volumes:
  db-data:
  opensearch-data:
